// .container {

// }

.accordion {
    width: 80%;
    margin: auto;
    margin-bottom: 4px;
    border-radius: 10px;
}

.accordion-header {
    display: flex;
    align-items: center;
    user-select: none;
    gap: 8px;
    padding: 12px 17px;
    border-radius: 10px;
    background-color: rgb(96, 0, 100);
    transition: border-radius 0.2s ease-in-out;
}
.accordion-header.active {
   border-radius: 10px 10px 0px 0px;

}
.accordion-header.active + .accordion-content .accordion-content-text {
    border-radius: 0px 0px 10px 10px;
}

.accordion-content-text {

    
    padding: 17px;
    border-radius: 10px;
    background-color: rgb(0, 80, 80);
    transition: border-radius 0.2s ease-in-out;
}

// .accordion-header.active + .accordion-content {
    // display: block;
    // visibility: visible;
    // overflow: visible;
    // height: auto;
    // opacity: 1;
    // transform: translateY(0);
    // transition: all 0.5s ease-in-out;
// }

// .accordion-header-link {

// }

// .accordion-content {
    // transform: translateY(-100%);
    // display: none;
    // visibility: hidden;
    // overflow: hidden;
    // height: 0;
    // opacity: 0;
    // transition: all 0.5s ease-in-out;
// }
